
//variables for project
$font-stack: Arial, Helvetica, sans-serif;
$font-sizing: 10px;
$primary-color: #ff0000;
$secondary-color: #000000e1;
$overlay-color: #000000bc;
$tertiary-color: #ffffff;
$team-overlay-color: #ffffffe6;
$team-overlay-2-color: #ffffffdc;
$team-text-color: #999999;
$team-fill-color:#8e8e8e;
$menu-speed: 0.75s;
